{% block singleimage_multimodel_widget %}
    {% stylesheets debug=false output="css/mediabundle.css"
        '@MykeesMediaBundle/Resources/public/css/mediabundle-single-image-widget.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <div {{ block('widget_container_attributes') }}>
        <div class="media-widget">
            <div class="topwrapper">
                <div class="media-status">
                    <input type="text" class="original-value" value="{{ value.id }}" />

                    <div class="previous-image-container media-row" style="display:none;">
                        <div class="previous-image-text verticalAlignText">
                            <div>Previous Image:</div>
                            <div class="image-info-text"></div>
                        </div>
                        <img src="" alt=""/>
                    </div>

                    <div class="clear"></div>

                    {% set current_image_set = value is not null and attribute(value, 'file') is defined %}
                    <div class="current-image-container media-row" style="{{ current_image_set ? '' : 'display:none' }}">
                        <div class="current-image-text verticalAlignText">
                            <div>Current Image:</div>
                            <div class="image-info-text">{{ value.file }}</div>
                        </div>
                        <input type="text" class="last-set-value" value="{{ value.id }}" />

                        {% if current_image_set %}
                                <input type="radio" id="{{ value.name }}" name="{{full_name}}" value="{{ value.id }}" checked="checked" />
                                <img class="current-image" src="/img/{{ asset(value.file) }}" alt="{{ value.name }}"/>
                            {% else %}
                                {# Empty for javascript #}
                                <img class="current-image" src="" alt=""/>
                        {% endif %}
                    </div>
                </div>
                <div class="upload-area">
                    <div class="">
                        UPLOAD NEW FILES
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            {% if multimodel is defined and multimodel == true and models is defined %}
                <select name="{{ label }}-model-select">
                {% for model in models %}
                    <option value="{{ model }}" name="{{ model }}">{{ model }}</option>
                {% endfor %}
                </select>
            {% else %}
                <div class="showing-model-display"></div>
            {% endif %}
            
            <div class="media-selection">
                <div style="display:none;" class="media-selection-loading">
                    -- LOADING --
                </div>
                <div class="media-selection-container">
                </div>
            </div>

        </div>
    </div>

    {% javascripts debug=false output="js/mediabundle.js"
        '%kernel.root_dir%/../vendor/components/jquery/jquery.min.js'
        '@MykeesMediaBundle/Resources/public/js/mediabundle-single-image-widget.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock singleimage_multimodel_widget %}
