<tr class="count-tr {{ params.entity.thumb.id is defined and params.entity.thumb.id == media.id ? "current-thumb" : '' }}">
    <td class="text-muted middle">{{ media.id }}</td>
    <td class="middle">
        {% set ext = media.file|split('.') %}
        {% set imageExtension = ['jpg','JPG','jpeg',"JPEG",'png','PNG','gif','GIF'] %}
        {% if ext[1] in imageExtension %}
            <img src="{{ asset('img/'~media.file) }}" alt="" style="width:90px;"/>
        {% elseif ext[1] == "pdf" %}
            <img src="{{ asset('bundles/mykeesmedia/images/pdf.jpg') }}" alt="" style="width:60px;margin-left: 15px;">
        {% elseif ext[1] == "txt" %}
            <img src="{{ asset('bundles/mykeesmedia/images/txt.jpg') }}" alt="" style="width:60px;margin-left: 15px;">
        {% endif %}
    </td>
    <td class="text-muted middle"><span>{{ media.name }}</span></td>
    <td class="text-muted middle">{{ media.file }}</td>
    <td class="middle">

        {% if params.mode is defined and params.mode == 'true' %}
            {% if ext[1] in imageExtension %}
                <a href="{{ path('mykees_media_show',{ 'model':model,'id':media.id }) }}" class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-picture"></i>&nbsp;&nbsp;{{ 'file_insert'|trans }}
                </a>
                &nbsp;&nbsp;
            {% else %}
                <a href="{{ path('mykees_media_show',{ 'model':model,'id':media.id }) }}" class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-pushpin"></i>&nbsp;&nbsp;{{ 'insert_link'|trans }}
                </a>
            {% endif %}
        {% endif %}

        {% if params.entity.thumb is defined %}

            {% if params.entity.thumb is null or params.entity.thumb.id != media.id %}
                {% if ext[1] in imageExtension %}
                    <a href="{{ path('mykees_media_thumb',{'model':model,'bundle':bundle,'model_id':model_id,'id':media.id }) }}" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ 'featured_image'|trans }}
                    </a>
                {% else %}
                    <a href="#" data-clipboard-text="{{ asset('img/'~media.file) }}" class="btn btn-sm btn-default document_link">
                        <i class="glyphicon glyphicon-copy" style="font-size:15px;"></i>&nbsp;&nbsp;<span>{{ "copy_link"|trans }}</span>
                    </a>
                {% endif %}
                &nbsp;&nbsp;
            {% endif %}

        {% endif %}

        <a href="{{ path('mykees_media_delete',{'model':model, 'bundle':bundle, 'id':media.id} ) }}" class="btn btn-sm btn-danger delete_btn">
            <i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;&nbsp;{{ 'file_remove'|trans }}
        </a>

    </td>
</tr>
